@use '../../styles/mixins.module.scss' as *;
@use '../../styles/variables.module.scss' as *;

.footer {
  background-color: $color-bg-secondary;
  color: $color-text-primary;
  padding-top: $spacing-3xl;
  padding-bottom: $spacing-xl;
}

.content {
  @include flex-column;
  gap: $spacing-2xl;
  margin-bottom: $spacing-2xl;

  @include tablet {
    flex-direction: row;
    @include flex-between;
  }
}

.brand {
  @include flex-column;
}

.brandName {
  @include heading-small;
  color: $color-text-primary;
  margin-bottom: $spacing-xs;
  font-size: $font-size-xl;
}

.tagline {
  @include body-text;
  color: $color-text-secondary;
  font-size: $font-size-sm;
}

.links {
  @include flex-column;
  gap: $spacing-base;

  @include tablet {
    flex-direction: row;
    gap: $spacing-xl;
  }
}

.link {
  color: $color-text-secondary;
  font-size: $font-size-base;
  transition: color $transition-fast;

  &:hover {
    color: $color-text-primary;
  }
}

.bottom {
  padding-top: $spacing-xl;
  border-top: 1px solid $border-color;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}

.copyright {
  @include body-text;
  color: $color-text-tertiary;
  font-size: $font-size-sm;
}

