@use '../../styles/mixins.module.scss' as *;
@use '../../styles/variables.module.scss' as *;

.features {
  @include section-padding;
  background-color: $color-bg-primary;
}

.header {
  text-align: center;
  margin-bottom: $spacing-3xl;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  @include heading-medium;
  margin-bottom: $spacing-base;
}

.subtitle {
  @include body-text;
  font-size: $font-size-lg;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-xl;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-2xl;
  }
}

